<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="">
</head>
<body>
<div>
    {% if login %}
        <div class="topnav">
            <a href="/" class="active" style="text-align: center">Personal Notebook</a>
            <div id="myLinks">
                <a href="{{ url_for('rawitems') }}"> Raw Items </a>
                <a href="{{ url_for('words') }}"> Words </a>
                <a href="{{ url_for('_53') }}"> 5-3 </a>
                <a href="/"> Main Page {{ user }} </a>
                <a href="{{ url_for('logout') }}"> Logout </a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

    {% else %}
        <div class="topnav">
            <a href="#home" class="active">Logo</a>
            <div id="myLinks">
                <a href="{{ url_for('login') }}"> Login </a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        Not logged in
    {% endif %}
</div>
<br>
{% block main %}
{% endblock %}


<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }

</script>

</body>
</html>